
name: Deploy Backend to VPS

on:
  push:
    branches:
      - main  # déclenche le workflow sur push sur main

jobs:
  build-and-deploy-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install backend dependencies
        run: |
          cd backend-API
          npm ci

      - name: Deploy backend to VPS
        env:
          VPS_HOST: ${{ secrets.VPS_HOST }}
          VPS_USER: ${{ secrets.VPS_USER }}
          VPS_PATH: ${{ secrets.VPS_PATH_BACKEND }} # juste le path change
          SSH_KEY: ${{ secrets.VPS_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H $VPS_HOST >> ~/.ssh/known_hosts

          rsync -avz --delete backend-API/ $VPS_USER@$VPS_HOST:$VPS_PATH/

          ssh $VPS_USER@$VPS_HOST "pm2 restart backend || pm2 start npm --name backend -- start"

      - name: Deployment complete
        run: echo "Déploiement du backend réussi !"
